.App {
    font-family: Arial, sans-serif;
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTubd25hBC6E9G0YfKaMo-SC-SzOW5MPr30Uw&s'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    position: relative;
}

.app-title {
    text-align: center;
    margin-bottom: 20px;
    color: red;
}

.location-input {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 400px;
}

.get-weather-btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.weather-container {
    margin-top: 20px;
    width: 600px;
    margin-left: 400px;
}

.weather-heading {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.weather-card {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.weather-card p {
    margin: 5px 0;
}
